body{
    margin: 0px;
}

.git-page{
    width: 100%;
    height: auto;
}

.git-header{
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    box-sizing: border-box;
    align-items: center;
}

.git-right,
.git-left{
    display: flex;
    gap: 25px;
    align-items: center;
}

.git-icon,
.git-left-link,
.git-bell,
.git-carret-down,
.git-plus{
    color: white;
    font-size: 34px;
    text-decoration: none;
}

.git-plus,
.git-left-link{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}

.git-plus{
    font-size: 22px;
    font-weight: 100;
}
.git-bell{font-size: 18px;}
.git-carret-down{
    font-size: 14px;
    margin-top: 5px;
}
.git-profile-list,
.git-plus-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.git-profile{
    width: 24px;
    height: 24px;
    background: url(../img/IMG_20191108_211653.jpg) center/cover;
    border-radius: 50%;
}

.git-icon:hover,
.git-left-link:hover,
.git-bell:hover,
.git-plus-list:hover > .git-plus,
.git-plus-list:hover > .git-carret-down,
.git-profile-list:hover > .git-carret-down{
    color: rgb(214, 214, 214);
}

.git-header-fixed{
    position: fixed;
    display: flex;
    top: 60px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(201, 201, 201);
    justify-content: space-around;
}

.git-header-fixed-inside{
    margin-top: 25px;
    display: flex;
    gap: 10px;
}

.git-header-fixed-block{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.git-fixed-block{
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: auto;
    gap: 10px;
    transition: background 200ms;
}

.git-header-fixed-block:hover > .git-fixed-block{
    background: rgb(240, 240, 240);
}

.git-fixed-txt{
    font-family: Inter;
    font-size: 16px;
}

.git-fixed-line{
    height: 2px;
    border-radius: 1px;
    transition: background 500ms;
}

.git-header-fixed-block:hover > .git-fixed-line{
    background: rgb(255, 60, 0);
}