body{
    margin: 0px;
    font-family: Inter;
}

.git-page{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 200vh;
}

.git-header{
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 15px;
}

.git-right,
.git-left{
    display: flex;
    gap: 25px;
    align-items: center;
}

.git-icon,
.git-left-link,
.git-bell,
.git-carret-down,
.git-plus{
    color: white;
    font-size: 34px;
    text-decoration: none;
}

.git-plus,
.git-left-link{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}

.git-plus{
    font-size: 22px;
    font-weight: 100;
}
.git-bell{font-size: 18px;}
.git-carret-down{
    font-size: 14px;
    margin-top: 5px;
}
.git-profile-list,
.git-plus-list{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    outline: none;
    border: none;
    background: none;
    padding: 0px;
}

.git-profile{
    width: 24px;
    height: 24px;
    background: url(../img/IMG_20191108_211653.jpg) center/cover;
    border-radius: 50%;
}

.git-icon:hover,
.git-left-link:hover,
.git-bell:hover,
.git-plus-list:hover > .git-plus,
.git-plus-list:hover > .git-carret-down,
.git-profile-list:hover > .git-carret-down,
.git-plus-list:focus > .git-plus,
.git-plus-list:focus > .git-carret-down,
.git-profile-list:focus > .git-carret-down{
    color: rgb(214, 214, 214);
}

.git-plus-list-absolute-triangle{
    display: none;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 12px;
    height: 6px;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: white;
    border: 1px solid rgb(202, 202, 202);
    border-bottom: none;
    z-index: 3;
}

.git-plus-list-absolute{
    display: none;
    position: absolute;
    flex-direction: column;
    width: max-content;
    padding: 4px 0px;
    top: 30px;
    right: 0px;
    background: white;
    z-index: 3;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
}

.git-plus-list-absolute-item{
    padding: 6px 30px 6px 15px;
    font-size: 14px;
    color: rgb(94, 94, 94);
    text-align: left;
    text-decoration: none;
}

.git-plus-list-absolute-item:hover{
    background: rgb(68, 115, 255);
    color: white;
}

.git-plus-list:focus > .git-plus-list-absolute-triangle{
    display: block;
}
.git-plus-list:focus > .git-plus-list-absolute{
    display: flex;
}

.git-header-fixed{
    position: sticky;
    top: 0px;
    padding-top: 10px;
    display: flex;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgb(201, 201, 201);
    justify-content: space-around;
    z-index: 2;
    background: white;
    box-sizing: border-box;
}

.git-header-fixed-inside{
    display: flex;
    gap: 10px;
}

.git-header-fixed-block{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.git-fixed-block{
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: auto;
    gap: 10px;
    transition: background 200ms;
}

.git-header-fixed-block:hover > .git-fixed-block{
    background: rgb(240, 240, 240);
}

.git-fixed-txt{
    font-size: 16px;
}

.git-fixed-line{
    height: 2px;
    border-radius: 1px;
    transition: background 500ms;
}

.git-header-fixed-block:hover > .git-fixed-line{
    background: rgb(255, 60, 0);
}

.git-main{
    display: grid;
    gap: 30px;
    grid-template-columns: 300px 1fr;
    margin-top: -40px;
}

.git-main-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.git-main-left-logo{
    border: 3px solid rgb(223, 223, 223);
    width: 300px;
    height: 300px;
    background: url(../img/IMG_20191108_211653.jpg) center/cover;
    border-radius: 50%;
    z-index: 3;
}

.git-main-left-logo-status{
    margin: 230px 0px 0px 260px;
    border: 1px solid rgb(202, 202, 202);
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 50px;
    align-items: center;
    transition: width 1000ms;
}

.git-main-left-logo-status-icon{
    position: relative;
    width: 36px;
    height: 36px;
    padding: 10px;
    background: white;
    box-sizing: border-box;
    z-index: 1;
}

.git-main-left-logo-status-icon-1{
    width: 16px;
    height: 16px;
    background: url(../img/electric-guitar.png) center/cover;
}

.git-main-left-logo-status-txt{
    position: relative;
    padding-right: 10px;
    transition: 1000ms;
    font-size: 12px;
}

.git-main-left-logo-status:hover > .git-main-left-logo-status-txt{
    color: rgb(68, 115, 255);
}

.git-main-left-logo-status-in-change{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 4;
    justify-content: space-around;
}

.git-main-left-logo-status-in-change-block{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    background: white;
    height: fit-content;
    border-radius: 8px;
}

.in-change-line{
    height: 0.9px;
    background: rgb(170, 170, 170);
}

.in-change-header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgb(241, 241, 241);
    align-items: center;
}

.in-change-header-close{
    margin-top: 6px;
    cursor: pointer;
}

.in-change-header-close:hover{color:rgb(68, 115, 255);}

.in-change-block-1{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    gap: 15px;
}

.in-change-block-changing{
    display: flex;
}

.in-change-block-changing-txt{
    width: 360px;
    border: 1px solid rgb(170, 170, 170);
    background: rgb(241, 241, 241);
    padding: 6px 10px;
    font-size: 15px;
    color: black;
    outline-offset: -2px;
}

.in-change-block-changing-txt:focus{outline: 2px solid rgb(68, 115, 255);}

.in-change-block-changing-txt::placeholder{color: rgb(21, 21, 21);}

.in-change-block-changing-icon{
    border: 1px solid rgb(170, 170, 170);
    background: rgb(241, 241, 241);
    padding: 5px 12px;
    box-sizing: border-box;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.in-change-block-changing-icon:hover{
    border-color: rgb(68, 115, 255);
    background: rgb(68, 115, 255);
}

.in-change-block-changing-icon-1{
    width: 20px;
    height: 20px;
    background: url(../img/electric-guitar.png) center/cover;
}

.in-change-block-suggestions{
    display: none;
}

.in-change-block-suggestions-block-txt{
    font-size: 12px;
    color: rgb(60, 60, 60);
}

.in-change-block-suggestions-blocks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 16px 20px;
    gap: 5px;
}

.in-change-block-suggestions-block{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.in-change-block-suggestions-block-icon{
    width: 16px;
    height: 16px;
}

.suggestions-block-icon-1{background: url(../img/beach.png) center/cover;}
.suggestions-block-icon-2{background: url(../img/house.png) center/cover;}
.suggestions-block-icon-3{background: url(../img/ill.png) center/cover;}
.suggestions-block-icon-4{background: url(../img/focus.png) center/cover;}

.in-change-block-busy{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 5px;
}

.in-change-block-busy-txt{
    display: flex;
    flex-direction: column;
}

.in-change-block-busy-txt-1{
    font-size: 14px;
    font-weight: 600;
}

.in-change-block-busy-txt-2{
    font-size: 12px;
    max-width: 400px;
    color: rgb(60, 60, 60);
}

.in-change-block-busy-checkbox{
    margin-top: 5px;
}

.in-change-block-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 5px;
}

.in-change-block-2-txt{
    font-size: 14px;
    color: rgb(40, 40, 40);
}

.in-change-block-2-dropdown{
    position: relative;
}

.in-change-block-2-dropdown-txt{
    display: flex;
    border: 1px solid rgb(198, 198, 198);
    background: rgb(243, 243, 243);
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
}

.in-change-block-2-dropdown-txt:active{
    background: rgb(229, 229, 229);
}

.in-change-block-2-dropdown-txt-carret{
    margin-left: 5px;
}

.in-change-block-2-dropdown{
    position: relative;
    padding: 0px;
    border: 0px;
    outline: 0px;
}

.in-change-block-2-dropdown-absolute{
    position: absolute;
    left: 0px;
    top: 30px;
    width: 220px;
    background: white;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 5px 0px;
    text-decoration: none;
    display: none;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.in-change-block-2-dropdown-absolute:hover{
    display: block;
}

.in-change-block-2-dropdown-absolute-block{
    display: flex;
    flex-direction: column;
}

.in-change-block-2-dropdown-absolute-status{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.in-change-block-2-dropdown-absolute-line{
    height: 0.9px;
    background: rgb(197, 197, 197);
}

.in-change-block-2-dropdown-item-1,
.in-change-block-2-dropdown-absolute-item{
    text-decoration: none;
    padding: 3px 15px;
    color: rgb(60, 60, 60);
    font-size: 11.5px;
}

.in-change-block-2-dropdown-absolute-status:hover,
.in-change-block-2-dropdown-absolute-status:hover > .in-change-block-2-dropdown-item-1,
.in-change-block-2-dropdown-absolute-status:hover > .in-change-block-2-dropdown-absolute-item,
.in-change-block-2-dropdown-absolute-item:hover{
    background: rgb(68, 115, 255);
    color: white;
}

.in-change-block-2-dropdown:focus > .in-change-block-2-dropdown-absolute{
    display: flex;
}

.in-change-footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 16px;
    gap: 16px;
}

.in-change-footer-btn-set{
    background: rgb(22, 166, 77);
    border: 1px solid rgb(17, 129, 60);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
}

.in-change-footer-btn-clear{
    background: white;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
}

.in-change-footer-btn-set:hover{background: rgb(20, 148, 69);}
.in-change-footer-btn-set:active{background: rgb(17, 129, 60);}
.in-change-footer-btn-clear:hover{background: rgb(243, 243, 243);}
.in-change-footer-btn-clear:active{background: rgb(233, 233, 233);}

.git-main-left-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.git-main-left-description-txt{
    font-size: 14px;
    line-height: 22px;
}

.git-main-left-name{
    font-size: 24px;
    font-weight: 600;
}

.git-main-left-nick{
    font-size: 22px;
    color: rgb(155, 155, 155);
}

.git-main-left-edit-btn{
    font-size: 13px;
    font-weight: 600;
    padding: 6px 0px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    background: rgb(240, 240, 240);
}

.git-main-left-edit-btn:focus{
    background: rgb(230, 230, 230);
}

.git-main-left-follow{
    display: flex;
    gap: 5px;
    font-size: 13px;
}

.git-main-left-addictions{
    display: none;
    gap: 5px;
    align-items: center;
}

.git-main-left-addiction{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.git-main-left-editing{
    flex-direction: column;
    gap: 8px;
    display: none;
}

.git-main-left-editing-txt{
    font-size: 14px;
    font-weight: 600;
}

.git-main-left-editing-name,
.git-main-left-editing-bio{
    width: 300px;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    font-weight: 100;
    box-sizing: border-box;
    transition: outline 100ms;
}

.git-main-left-editing-block-input:focus,
.git-main-left-editing-name:focus,
.git-main-left-editing-bio:focus{
    outline: 2px solid rgb(32, 56, 235);
}

.git-main-left-editing-txt-2{
    font-size: 12px;
    color: rgb(130, 130, 130);
}

.git-main-left-editing-block{
    display: flex;
    gap: 10px;
    width: 300px;
    align-items: center;
}

.git-main-left-editing-block-input{
    width: 300px;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    font-weight: 100;
    box-sizing: border-box;
    transition: outline 100ms;
}

.git-main-left-editing-block-input-3{
    width: auto;
    outline: none;
}

.git-main-left-editing-block-input-3:focus{
    outline: none;
}

.git-main-left-editing-block-icon{
    color: grey;
}

.git-main-left-editing-block-txt{
    font-size: 14px;
    color: rgb(56, 56, 56);
}

.git-main-left-editing-save-btn{
    padding: 4px 10px;
    box-sizing: border-box;
    background: rgb(0, 169, 0);
    border: 1px solid green;
    border-radius: 5px;
    color: white;
}

.git-main-left-editing-cancel-btn{
    padding: 4px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(182, 182, 182);
    background: rgb(240, 240, 240);
    border-radius: 5px;
}

.git-main-right{
    padding-top: 70px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.git-main-right-grid-section{
    width: 896px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.git-main-right-grid-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.git-main-right-grid-top-txt-1{
    font-size: 15px;
}

.git-main-right-grid-top-txt-2{
    font-size: 12px;
    color: grey;
}

.git-main-right-section{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.git-main-right-section-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto 15px;
}

.git-main-right-section-left-2,
.git-main-right-section-left-1{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.git-main-right-section-left-2{gap: 3px;}

.git-main-right-section-txt{
    color: rgb(47, 151, 255);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.git-main-right-section-txt:hover{
    text-decoration: underline;
}

.git-main-right-section-public{
    border: 1px solid rgb(192, 192, 192);
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 20px;
    color: rgb(123, 123, 123);
    font-weight: 600;
}

.git-main-right-section-color{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(201, 10, 10);
}

.git-main-right-section-number,
.git-main-right-section-type{
    font-size: 12px;
    margin-right: 10px;
    color: rgb(109, 109, 109);
}

.git-main-right-section-star{
    font-size: 14px;
    font-weight: 600;
    color: rgb(58, 58, 58);
}

.git-main-right-section-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

.git-main-right-section-right-icon{
    font-size: 14px;
    font-weight: 600;
    color: rgb(109, 109, 109);
}

.git-profile-list-absolute{
    display: none;
    position: absolute;
    flex-direction: column;
    width: max-content;
    padding: 8px 0px;
    top: 30px;
    right: 0px;
    background: white;
    z-index: 3;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    gap: 8px;
}

.git-profile-list-absolute-triangle{
    display: none;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 12px;
    height: 6px;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: white;
    border: 1px solid rgb(202, 202, 202);
    border-bottom: none;
    z-index: 3;
}

.git-profile-list-absolute-block{
    display: flex;
    flex-direction: column;
}

.git-profile-list-absolute-line{
    height: 0.8px;
    background: rgb(202, 202, 202);
}

.git-profile-list-absolute-top{
    width: min-content;
    padding: 6px 30px 6px 15px;
    font-size: 14px;
    color: rgb(94, 94, 94);
    text-align: left;
    text-decoration: none;
}

.git-profile-list-absolute-item{
    padding: 6px 30px 6px 15px;
    font-size: 14px;
    color: rgb(94, 94, 94);
    text-align: left;
    text-decoration: none;
}

.git-profile-list-absolute-item:hover{
    background: rgb(68, 115, 255);
    color: white;
}

.git-profile-list-absolute-status{
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 0px 15px;
    padding: 5px 10px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    color: rgb(94, 94, 94);
}

.git-profile-list-absolute-status-icon{
    width: 16px;
    height: 16px;
    background: url(../img/electric-guitar.png) center/cover;
}

.git-profile-list-absolute-status-txt{
    position: relative;
    height: 16px;
    overflow: hidden;
}

.git-profile-list-absolute-status-txt-1{
    width: max-content;
    position: absolute;
}

.git-profile-list-absolute-status:hover > .git-profile-list-absolute-status-txt .git-profile-list-absolute-status-txt-1{
    color: rgb(68, 115, 255);
}

.git-profile-list:focus > .git-profile-list-absolute-triangle{
    display: block;
}
.git-profile-list:focus > .git-profile-list-absolute{
    display: flex;
}